html {
	font-size: 20px;
	line-height: 16px;
	font-family: sans-serif;
}

h1 {
	font-family: serif;
	color: rgb(56, 217, 56);
}
form * {
	font-family: inherit;
	font-size: inherit;
	margin: 0 auto;
	color: rgb(56, 217, 56);
}
img {
	width: 100%;
	max-width: 100%;
}
